.heroes-list{
  width: 100%;

  padding: 10px 20px 0px 20px;

  &__item{
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 20px 0px;

    background-color: rgba(100, 100, 100, 0.2);

    div{
      width: 20%;
    }
  };
  &__nickname{
    font-size: 20px;
    font-weight: 900;
  };

  &__real-name{
    font-size: 15px;
    font-weight: 900;
  };
  &__learn-more-btn{
    width: 80px;
    height: 40px;
    background-color: aqua
  };
  &__edit-btn{
    width: 80px;
    height: 40px;
    background-color: yellow
  };
  &__delete-btn{
    width: 80px;
    height: 40px;
    background-color: red;
  };

  &__edit{
    margin: 20px 0px 20px 0px;
    padding: 0px 0px 20px 0px;
    background-color: rgba(100, 100, 100, 0.8);
  }
}

.add-button{
  width: 150px;
  height: 60px;

  position: fixed;
  right: 20px;
  bottom: 40px;
  z-index: 10;

  background-color: cadetblue;
}